@charset "utf-8";
/* CSS Document */

* {
	font-family: Helvetica;
	text-align: center;
}
	
/* heading styling */
h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
	background-image: URL("resources/images/the-flatiron-building.png");
}
h2 {
	font-weight: 300;
	font-size: 42px;
}

/* element styling */
p {
	color: gray;
	font-size: 16px;
}
a {
	color: aquamarine;
	font-size: 16px;
}

/*alignment */
.right {
	text-align: right;
}